@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,500;0,700;1,100&display=swap");
html {
  font-size: 16px; }

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

body {
  background: #e60023;
  color: aliceblue;
  text-align: center; }

/* OCULTO PUBLICIDAD DE 000WEBHOST */
.disclaimer {
  display: none; }

/* ANIMACIONES */
@keyframes slide-in {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0%); } }

@keyframes left-in-fade {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.8; }
  100% {
    opacity: 1; } }

.contenedor {
  margin-top: 2px; }

/* HEADER Y NAVBAR */
header {
  background: linear-gradient(90deg, #a80000 0%, #fd201d 50%, #a80000 100%);
  /* COMIENZO DE BARRA INFORMATIVA DEL HEADER EN INDEX */
  /*FIN DE BARRA INFORMATIVA DEL HEADER EN INDEX */ }
  header #img-header {
    width: 100%; }
  header #sr-logo {
    width: 200px;
    margin-left: 40px; }
  header .informacion {
    background: linear-gradient(90deg, #050101 15%, #bd1010 50%, #050101 85%); }
    header .informacion h1, header .informacion .vivo .audio_vivo h2, .vivo .audio_vivo header .informacion h2 {
      text-shadow: black 0.1em 0.1em 0.2em;
      padding-top: 8px;
      padding-bottom: 8px;
      margin-bottom: 0;
      font-size: 2vh; }
  header #bonotes_menu {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    color: aliceblue;
    font-size: 20px; }
    header #bonotes_menu:hover {
      background-color: rgba(255, 255, 255, 0.354);
      transform: scale(1.1) translateY(1px); }
  @media screen and (min-width: 992px) {
    header #sr-logo {
      display: none; } }

footer {
  background: linear-gradient(90deg, #ababab 15%, #fff3f3 50%, #ababab 85%);
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto; }
  footer a {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important; }
  footer .iconos {
    width: 40px;
    transition: transform 0.5s ease-in; }
    footer .iconos:hover {
      transform: scale(1.5) translateY(1px); }

.staff {
  text-align: center;
  /* APLICO MIXIN */
  /* MEDIA QUERIES */ }
  .staff h1, .staff .vivo .audio_vivo h2, .vivo .audio_vivo .staff h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    font-weight: bold;
    text-shadow: black 0.1em 0.1em 0.2em; }
  .staff #descripcion {
    margin-top: 20px;
    font-size: 2vh;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    text-shadow: black 0.1em 0.1em 0.2em; }
  .staff .container {
    color: aliceblue;
    text-shadow: black 0.1em 0.1em 0.2em; }
  .staff .img-thumbnail {
    padding: 0.01rem;
    background-color: rgba(255, 255, 255, 0.963);
    border: 1px solid #fafbfb;
    border-radius: 0.25rem; }
  .staff #mapa {
    height: 300px;
    width: 400px;
    margin-top: 25px; }
  @media screen and (max-width: 992px) {
    .staff #mapa {
      height: auto !important;
      width: auto !important; } }

#formulario_contacto {
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0; }
  #formulario_contacto .btn {
    background-color: rgba(252, 12, 12, 0.767);
    border: none; }
    #formulario_contacto .btn:hover {
      background-color: #716b6b; }

/* APLICO MAPS */
.vivo .audio_vivo {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .vivo .audio_vivo h1, .vivo .audio_vivo h2 {
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;
    text-shadow: black 0.1em 0.1em 0.2em; }
  .vivo .audio_vivo audio {
    margin-top: 20px;
    min-width: 350px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    border-radius: 90px; }
  .vivo .audio_vivo #imaginaria {
    margin-top: 40px;
    margin-bottom: 30px;
    max-width: 200px; }

.vivo .vivo_video {
  text-decoration: none; }
  .vivo .vivo_video button {
    background: aliceblue;
    border-radius: 2rem;
    text-decoration: none;
    margin-bottom: 15px; }
    .vivo .vivo_video button:hover {
      background-color: #716b6b; }
    .vivo .vivo_video button .vivo_twitch {
      color: #6441A5; }
    .vivo .vivo_video button .vivo_web {
      color: #2956a3; }
    .vivo .vivo_video button p {
      margin-top: 15px;
      font-size: 2.5vh;
      font-style: bold;
      text-decoration: none; }

.el_club .carousel-inner img {
  width: 100%;
  max-height: 460px; }

.el_club .carousel-inner #fondo_texto_carousel {
  background-color: rgba(255, 0, 0, 0.631); }

.el_club .parrafo_informativo {
  background: #CC0000;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 30px;
  text-shadow: black 0.1em 0.1em 0.2em; }

.el_club #contenedores_links {
  margin-top: 30px;
  margin-bottom: 60px;
  margin-right: 0;
  margin-left: 0; }
  @media screen and (min-width: 992px) {
    .el_club #contenedores_links {
      padding-left: 80px;
      padding-right: 80px; } }
  .el_club #contenedores_links .card {
    background: rgba(189, 185, 185, 0.428); }
    .el_club #contenedores_links .card #link {
      margin-top: 1px;
      text-decoration: none;
      color: aliceblue; }
      .el_club #contenedores_links .card #link h4 {
        text-align: center; }
      .el_club #contenedores_links .card #link p {
        text-align: center; }

.main_index .contenido {
  display: flex;
  margin-top: 2rem; }
  .main_index .contenido #texto-infotmativo {
    margin-left: 15%;
    /* COMIENZO A APLICAR EXTEND */ }
    .main_index .contenido #texto-infotmativo .primer_bloque, .main_index .contenido #texto-infotmativo .segundo_bloque, .main_index .contenido #texto-infotmativo .tercer_bloque {
      color: aliceblue;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      margin-top: 3rem;
      line-height: 1.5;
      font-size: 2vw;
      text-shadow: black 0.1em 0.1em 0.2em;
      animation-name: left-in-fade;
      animation-duration: 2s; }
    .main_index .contenido #texto-infotmativo .segundo_bloque {
      font-size: 1.6vw; }
    .main_index .contenido #texto-infotmativo .tercer_bloque {
      font-size: 1.8vw; }
    .main_index .contenido #texto-infotmativo #escudo_index {
      max-width: 150px;
      margin-top: 50px; }
  .main_index .contenido #noticias_twitter {
    width: 20%;
    margin-left: auto;
    animation: slide-in 0.5s; }

.main_index .noticias_instagram {
  background: rgba(0, 0, 0, 0.583); }
  .main_index .noticias_instagram .titulo_carousel {
    text-align: left;
    margin-left: 15px;
    text-shadow: black 0.1em 0.1em 0.2em; }

@media screen and (min-width: 992px) {
  .main_index .carousel {
    display: none; } }

@media screen and (max-width: 992px) {
  .main_index .informacion h1, .main_index .informacion .vivo .audio_vivo h2, .vivo .audio_vivo .main_index .informacion h2 {
    font-size: 2.5vw !important; }
  .main_index #noticias_twitter {
    display: none; }
  .main_index #texto-infotmativo {
    margin-left: 10% !important; }
    .main_index #texto-infotmativo .primer_bloque, .main_index .contenido #texto-infotmativo .segundo_bloque, .main_index .contenido #texto-infotmativo .tercer_bloque {
      font-size: 3vw !important; }
  .main_index .carousel-inner img {
    height: 450px !important; }
  .main_index .instagram {
    display: none; } }

@media screen and (max-width: 759px) {
  .main_index .carousel-inner img {
    height: 300px !important; } }
