@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,500;0,700;1,100&display=swap");
html {
  font-size: 16px; }

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

body {
  background-color: #EF0107; }

/* ANIMACIONES */
@keyframes slide-in {
  from {
    transform: translateX(-100%); }
  to {
    transform: translateX(0%); } }

@keyframes left-in-fade {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.8; }
  100% {
    opacity: 1; } }

.contenedor {
  margin-top: 2px; }

/* HEADER Y NAVBAR */
header {
  /* COMIENZO DE BARRA INFORMATIVA DEL HEADER EN INDEX */
  /*FIN DE BARRA INFORMATIVA DEL HEADER EN INDEX */ }
  header #img-header {
    width: 100%; }
  header #sr-logo {
    width: 200px;
    margin-left: 40px; }
  header .informacion {
    background: linear-gradient(90deg, #050101 15%, #bd1010 50%, #050101 85%); }
    header .informacion h1 {
      text-shadow: black 0.1em 0.1em 0.2em;
      padding-top: 8px;
      padding-bottom: 8px;
      text-align: center;
      margin-bottom: 0;
      font-size: 2vh;
      color: aliceblue; }
  header #bonotes_menu {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    color: aliceblue;
    font-size: 20px; }
    header #bonotes_menu:hover {
      background-color: rgba(255, 255, 255, 0.354);
      transform: scale(1.1) translateY(1px); }

footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto; }
  footer a {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important; }
  footer .iconos {
    width: 40px;
    transition: transform 0.5s ease-in; }
    footer .iconos:hover {
      transform: scale(1.5) translateY(1px); }

.footer-arreglado {
  position: absolute;
  bottom: 0; }

.staff h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
  color: aliceblue;
  text-shadow: black 0.1em 0.1em 0.2em; }

.staff .nosotros {
  text-align: center;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  color: aliceblue;
  text-shadow: black 0.1em 0.1em 0.2em; }

.img-thumbnail {
  padding: 0.01rem;
  background-color: rgba(255, 255, 255, 0.963);
  border: 1px solid #fafbfb;
  border-radius: 0.25rem; }

/* APLICO MIXIN */
#mapa {
  height: 300px;
  width: 800px;
  margin-top: 25px; }

@media screen and (max-width: 992px) {
  #mapa {
    height: auto !important;
    width: auto !important; } }

#formulario_contacto {
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0; }
  #formulario_contacto .btn {
    background-color: rgba(252, 12, 12, 0.767);
    border: none; }
    #formulario_contacto .btn:hover {
      background-color: #716b6b; }

/* APLICO MAPS */
.vivo {
  text-align: center; }
  .vivo h2 {
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vh;
    line-height: 40px;
    color: aliceblue;
    text-shadow: black 0.1em 0.1em 0.2em; }
  .vivo .reproductor {
    margin-top: 60px; }
  .vivo .vivo_video a {
    text-decoration: none; }
    .vivo .vivo_video a p {
      font-size: 2.5vh;
      text-shadow: black 0.1em 0.1em 0.2em;
      text-decoration: none; }
  .vivo .vivo_twitch {
    color: #6441A5; }
  .vivo .vivo_web {
    color: #2956a3; }
  .vivo #imaginaria {
    max-width: 200px; }

.el_club #fondo_texto_carousel {
  background-color: rgba(255, 0, 0, 0.631); }

.el_club #contenedores_links {
  margin-bottom: 20px;
  margin-right: 0;
  margin-left: 0; }
  .el_club #contenedores_links #link {
    margin-top: 1px;
    text-decoration: none;
    color: aliceblue; }

.el_club .carousel-inner img {
  width: 100%;
  max-height: 460px; }

.main_index .contenido {
  display: flex;
  margin-top: 2rem; }
  .main_index .contenido #texto-infotmativo {
    margin-left: 15%;
    text-align: center;
    /* COMIENZO A APLICAR EXTEND */ }
    .main_index .contenido #texto-infotmativo .primer_bloque, .main_index .contenido #texto-infotmativo .segundo_bloque, .main_index .contenido #texto-infotmativo .tercer_bloque {
      color: aliceblue;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      margin-top: 3rem;
      line-height: 1.5;
      font-size: 1.5vw;
      text-shadow: black 0.1em 0.1em 0.2em;
      animation-name: left-in-fade;
      animation-duration: 2s; }
    .main_index .contenido #texto-infotmativo .segundo_bloque {
      font-size: 1.3vw; }
    .main_index .contenido #texto-infotmativo .tercer_bloque {
      font-size: 1.4vw; }
    .main_index .contenido #texto-infotmativo #escudo_index {
      max-width: 150px;
      margin-top: 50px; }
  .main_index .contenido #noticias {
    box-sizing: content-box;
    width: 20%;
    margin-left: auto;
    animation: slide-in 0.5s; }

@media screen and (min-width: 992px) {
  #sr-logo {
    display: none;
    width: 200px;
    margin: auto; } }

@media screen and (max-width: 992px) {
  #noticias {
    display: none; } }
