@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,500;0,700;1,100&display=swap");

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #EF0107;
  color: aliceblue;  
  text-align: center;
}
/* OCULTO PUBLICIDAD DE 000WEBHOST */
.disclaimer{
  display: none;
}

/* ANIMACIONES */

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes left-in-fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.contenedor {
  margin-top: 2px;
}