/* HEADER Y NAVBAR */

header {
  background: $headercolor;

  #img-header {
    width: 100%;
  }

  #sr-logo {
    width: 150px;
    margin-left: 40px;

    @media screen and (min-width: 992px) {
      display: none;
    }
  }


  /* COMIENZO DE BARRA INFORMATIVA DEL HEADER EN INDEX */
  .informacion {
    background: linear-gradient(90deg, rgb(5, 1, 1) 15%, rgb(189, 16, 16) 50%, rgb(5, 1, 1) 85%);

    h1 {
      text-shadow: $shadow;
      padding-top: 8px;
      padding-bottom: 8px;
      margin-bottom: 0;
      font-size: 2vh;

      @media screen and (max-width: 618px) {
        font-size: 1.2vh;
      }
    }
  }

  /*FIN DE BARRA INFORMATIVA DEL HEADER EN INDEX */
  .navbar-light {
    .navbar-toggler {
      border-color: rgba(255, 255, 255, 0) !important;

      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke=' white ' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
      }
    }

    #bonotes_menu {
      padding-right: 1.5rem !important;
      padding-left: 1.5rem !important;
      color: $fontscolor;
      font-size: 20px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.354);
        transform: scale(1.1) translateY(1px)
      }
    }
  }
}