.main_index {

  .contenido {
    display: flex;
    margin-top: 2rem;

    #texto-infotmativo {
      margin-left: 15%;      

      /* COMIENZO A APLICAR EXTEND */

      .primer_bloque {
        color: $fontscolor;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        margin-top: 3rem;
        line-height: 1.5;
        font-size: 1.5vw;
        text-shadow: $shadow;
        animation-name: left-in-fade;
        animation-duration: 2s;
      }

      .segundo_bloque {
        @extend .primer_bloque;
        font-size: 1.3vw;
      }

      .tercer_bloque {
        @extend .primer_bloque;
        font-size: 1.4vw;
      }

      #escudo_index {
        max-width: 150px;
        margin-top: 50px;
      }
    }

    #noticias {
      box-sizing: content-box;
      width: 20%;
      margin-left: auto;
      animation: slide-in 0.5s;
    }
  }
  .row{
    background: rgba(166, 0, 0, 0.428);
  .card{
    background: rgba(166, 0, 0, 0.428);
  }
      }
}

@media screen and (min-width: 992px) {
  #sr-logo {
    display: none;
    width: 200px;
    margin: auto;
  }
}
 

@media screen and (max-width: 992px) {
  #noticias {
    display: none;
  }
  #texto-infotmativo {
    margin-left: 30% !important;
  }

}