.main_index {

  .contenedor {
    display: flex;
    margin-top: 1rem;

    .texto-infotmativo {
      margin-left: 15%;
      margin-top: 2rem;

      /* COMIENZO A APLICAR EXTEND */

      @keyframes left-in-fade {
        0% {
          opacity: 0;
        }

        50% {
          opacity: 0.8;
        }

        100% {
          opacity: 1;
        }
      }

      .primer_bloque {
        color: $fontscolor;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        margin-top: 1rem;
        line-height: 1.5;
        font-size: 2vw;
        text-shadow: $shadow;
        animation-name: left-in-fade;
        animation-duration: 2s;
        h1 {
          margin-bottom: 3rem;
        }

      }

      .segundo_bloque {
        @extend .primer_bloque;
        font-size: 1.5vw;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }

      .tercer_bloque {
        @extend .primer_bloque;
        font-size: 1.8vw;
      }

      #escudo_index {
        max-width: 150px;
        margin-top: 50px;
      }
    }

    @keyframes slide-in {
      from {
        transform: translateX(-100%);
      }

      to {
        transform: translateX(0%);
      }
    }

    #noticias_twitter {
      width: 20%;
      margin-left: auto;
      animation: slide-in 0.5s;
    }
  }

  .noticias_instagram {
    background: rgba(0, 0, 0, 0.583);
    margin-top: 60px;

    .titulo_carousel {
      text-align: left;
      margin-left: 15px;
      font-size: 2vh;
      text-shadow: $shadow;
    }
  }

  .btn-flotante {
    position: absolute;
    margin: auto;
    left: 10px;

    #toggle {
      display: none;
    }

    #toggle:checked~.nav {
      opacity: 1;
      transform: translateY(5%);
    }

    #toggle:checked~.button {
      transform: rotate(360deg);
      box-shadow: 0 0 0 0 transparent;
    }

    .button {
      position: absolute;
      bottom: 10px;
      z-index: 999;
      width: 70px;
      height: 70px;
      background: #f28482;
      border-radius: 100%;
      transition: all 0.5s ease-in-out;
      box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, 0.3);
      cursor: pointer;

      img {
        margin-top: 13px;
        width: 40px;
        height: 40px;
      }
    }

    .nav {
      position: absolute;
      transform: translateY(100%);
      opacity: 0;
      bottom: 115px;
      transition: all 0.5s ease-in-out;
      background: white;
      width: 150px;
      border-radius: 5px;
      transform: translateY(0%);
      box-shadow: 2px 3px 10px 0 rgba(0, 0, 0, 0.1);

      a {
        text-align: center;
        display: block;
        margin: 20px 0;
        color: #d00906;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: all 300ms;
      }
    }
  }

  @media screen and (min-width: 993px) {
    .btn-flotante {
      display: none;
    }
  }

  @media screen and (max-width: 992px) {

    #noticias_twitter {
      display: none;
    }

    .texto-infotmativo {
      margin-left: 10% !important;
      margin-top: 1rem !important;

      .primer_bloque {
        font-size: 3vw !important;
      }
    }
  }
}