/* APLICO MAPS */

$vivo: (
  twitch: #6441A5,
  web: #2956a3,
);

.vivo {

  h1 {
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vh;
    line-height: 40px;
    text-shadow: $shadow;
  }

  h2 {
    @extend h1;
  }
  
  .reproductor {
    margin-top: 60px;
  }
  
  #imaginaria {
    margin-top: 15px;
    margin-bottom: 30px;
    max-width: 200px;
  }
  .vivo_video {
    .btn {
      background-color: rgba(217, 213, 213, 0.64);
      border-radius: 2rem;
      border-style: none;
      text-decoration: none;
      margin-bottom: 15px;

      &:hover {
        background-color: rgb(113, 107, 107);
      }

      @each $red,
      $color in $vivo {
        .vivo_#{$red} {
          color: $color;

        }
      }

      p {
        margin-top: 15px;
        font-size: 2.5vh;
        font-style: bold;
      }
    }

  }

}