/* APLICO MAPS y MIXIN */

$vivo: (
  twitch: #6441A5,
  web: rgb(62, 53, 53),
);

@mixin centrarEnCaja {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vivo {

  .audio_vivo {  
    @include centrarEnCaja();  
    flex-direction: column;  
    margin-top: 15px;

    #texto_info {
      text-shadow: $shadow;
    }

    h1 {
      margin-top: 30px;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 40px;
      text-shadow: $shadow;
    }

    h2 {
      @extend h1;
      margin-top: 15px;
    }

    .container_reproductor {
      @extend .audio_vivo;
      width: 100%;
      background: rgba(56, 56, 56, 0.418);
      margin-bottom: 50px;

      #texto_info{        
        font-size: 20px;
        margin-top: 20px;
      }

      audio {
        margin-top: 20px;
        min-width: 250px;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
        border-radius: 90px;
        margin-bottom: 50px;
      }

      #imaginaria {
        margin-top: 40px;
        margin-bottom: 30px;
        max-width: 200px;
      }
    }
  }

  .vivo_video {
    text-decoration: none;

    #titulo_vivoVideo{      
      text-shadow: $shadow;
    }

    .cards_vivo {
      @include centrarEnCaja();
      margin-top: 3rem;
    
      
      @media screen and (max-width: 759px) {
        flex-direction: column;
      }

      .card {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 2rem;
        
        @each $red,
        $color in $vivo {
          .vivo_#{$red} {
            background: $color;
          }
        }
      }
      .btn {
        border: none;
        background: rgba(0, 0, 0, 0.587);

        &:hover {
          color: rgb(150, 110, 110);
          transform: scale(1.1) translateY(1px);
        }         
      }
    }
  }
}