@mixin boxSizes($width, $height) {
  height: $height;
  width: $width;
}

.staff {
  text-align: center;

  h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;    
    text-shadow: $shadow;
  }

  .nosotros {    
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;    
    text-shadow: $shadow;
  }

  .container {   
      color: aliceblue;
      text-shadow: $shadow;    
  }
}

.img-thumbnail {
  padding: 0.01rem;
  background-color: rgba(255, 255, 255, 0.963);
  border: 1px solid #fafbfb;
  border-radius: 0.25rem;
}

/* APLICO MIXIN */
#mapa {
  @include boxSizes(800px, 300px);
  margin-top: 25px;
}

@media screen and (max-width: 992px) {

  #mapa {
    @include boxSizes(auto !important, auto !important);
  }

}