@mixin boxSizes($width, $height) {
  height: $height;
  width: $width;
}

.staff {
  text-align: center;

  h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    font-weight: bold;
    text-shadow: $shadow;
  }

  #descripcion {
    margin-top: 20px;
    font-size: 2vh;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    text-shadow: $shadow;      
  }

  .container {
    /* color: aliceblue; */
    text-shadow: $shadow;
    
  }
  
  .img-thumbnail {
    padding: 0.01rem;
    /* background-color: rgba(255, 255, 255, 0.963); */
    /* border: 1px solid #fafbfb; */
    border-radius: 0.50rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
    
   }
  
  /* APLICO MIXIN */
  #mapa {
    @include boxSizes(400px, 300px);
    margin-top: 25px;
  }
  
  /* MEDIA QUERIES */
  @media screen and (max-width: 992px) {
      #mapa {
      @include boxSizes(auto !important, auto !important);
    }
  }  

}