/* APLICO MIXIN Y EXTEND */

@mixin boxSizes($width, $height) {
  height: $height;
  width: $width;
}

@mixin centrarEnCaja {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.staff {
  text-align: center;

  h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-weight: bold;
    text-shadow: $shadow;
  }

  .descripcion {
    padding-top: 1px;
    padding-bottom: 1rem;
    background: rgba(56, 56, 56, 0.418);

    /* APLICO EXTEND */
    h5 {
      @extend h1;
    }

    p {
      margin-top: 20px;
      margin-left: 30px;
      margin-right: 30px;
      font-size: 2vh;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 25px;
      text-shadow: $shadow;
    }
  }

  .cards_staff {
    margin-top: 2rem;

    /* APLICO MIXIN */
    .cards_primerSeccion {
      @include centrarEnCaja();
      flex-direction: row;

      @media screen and (max-width: 1100px) {
        flex-direction: column;
      }

      .card {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 2rem;

        .card-body {
          background: rgb(62, 53, 53),
        }

        .btn:hover {
          transform: scale(1.1) translateY(1px);
        }
      }
    }

    /* APLICO EXTEND */
    .cards_segundaSeccion {
      @extend .cards_primerSeccion;
    }
  }

  /* APLICO MIXIN */
  #mapa {
    @include boxSizes(400px, 300px);
    margin-top: 25px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
  }

  /* MEDIA QUERIES */
  @media screen and (max-width: 992px) {
    #mapa {
      @include boxSizes(auto !important, auto !important);
    }
  }
}