$fontscolor: aliceblue;
$shadow: black 0.1em 0.1em 0.2em;
$headercolor: linear-gradient(90deg, rgba(168,0,0,1) 0%, rgba(253,32,29,1) 50%, rgba(168,0,0,1) 100%);
$footercolor: linear-gradient(90deg, rgb(171,171,171) 15%, rgb(255,243,243) 50%, rgb(171,171,171) 85%);

 


